{% extends "site.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
    <section id="archive">
        <h1>Projects</h1>
            <article id="talks">
                <br/>
                {% for project in containers.projects %}
                    <p><i class="fa fa-chevron-right"></i><a href="{{ project.proj_url }}"> {{ project.title }}</a></p>
                    <p><span style="padding-left:30px;">{{ project.excerpt }} <a href="{{ project.url }}">→</a></span></p>
                {% endfor %}
            </article>
    </section>
{% endblock %}
