<!doctype html>
<html lang="en">
  <head>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include "page.header.html" %}
    <title>{% block title %}Got Root?{% endblock %} – roguelynn</title>

    {% block extrahead %}{% endblock %}
  </head>
  <body>
    {% include "nav.general.html" %}
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8 col-xs-offset-1 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
          <div class="rogue-content-block">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
    <br/><br/>
    {% include "footer.html" %}
    {% include "scripts.html" %}

    </body>
</html>
