<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}MISSING TITLE{% endblock %} — Lynn Root</title>
        <meta name="description" content="Homepage and blog of Lynn Root. Python Engineer, PyLadiesSF Founder, Socializer in San Francisco." />
        <link rel="shortcut icon" href="{{ get_asset('images/favicon.ico') }}" type="image/ico" />
        <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{ get_url('feed.xml', true) }}" />

        <!--Stylesheets-->
        <link rel="stylesheet" href="{{ get_asset('css/lightbox.css') }}" media="screen" title="screen">
        <link rel="stylesheet" href="{{ get_asset('css/pygments.css') }}" media="screen" title="screen">
        <link rel="stylesheet" href="{{ get_asset('css/screen.css') }}" media="screen" title="screen">
        <script src="http://use.edgefonts.net/andika.js"></script>


        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="nav-wrapper">
            <nav>
                <ul class="title">
                    <li class="name"><a class="current" href="{{ get_url('/') }}">Lynn Root</a></li>
                    <li class="desc">Coder • Writer • Speaker • PyLady</li>
                </ul>
                <ul class="contents"> 
                    <li class="page_item"><a href="{{ get_url('/') }}">Home</a></li>
                    <li class="page_item"><a href="{{ get_url('/about/') }}">About</a></li>
                    <li class="page_item"><a href="{{ get_url('/words/') }}">Words</a></li>
                    <li class="page_item"><a href="{{ get_url('/talks/') }}">Talks</a></li>
                    <li class="page_item"><a href="{{ get_url('/pyladies/') }}">PyLadies</a></li>

                </ul>
            </nav>
        </div>
        <div class="page">
            {% block content %}{% endblock %}
        </div>
        <div class="footer-wrapper">
            <footer id="bottom">
                <ul class="social">
                    <li><a class="icon twitter" data-icon="&#62217;" href="http://twitter.com/roguelynn" title="Twitter"></a></li>
                    <li><a class="icon github" data-icon="&#62208;" href="http://github.com/econchick" title="GitHub"></a></li>
                    <li><a class="icon rss" data-icon="&#59194;" href="{{ get_url('feed.xml', true)}}" title="RSS"></a></li>
                    <li>© 2007–{{ None|date('%Y') }} Lynn Root. All Rights Reserved.</li>
                </ul>
            </footer>
        </div>
        <!--Javascript-->
        <script src="{{ get_asset('js/jquery-1.7.2.min.js') }}" type="text/javascript" charset="utf-8"></script>
    </body>
</html>