<!doctype html>
<html lang="en">
  <head>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include "page.header.html" %}
    <title>{% block title %}Got Root?{% endblock %} – roguelynn</title>

    {% block extrahead %}{% endblock %}
  </head>
  <body>
    {% include "nav.general.html" %}

    {% block layout %}{% endblock %}

    <br/><br/>
    {% include "footer.html" %}
    {% include "scripts.html" %}

    </body>
</html>
