{% extends "site.html" %}
{% block title %}Talks{% endblock %}
{% block content %}
    <section id="archive">
        <h1>Talks</h1>
            <article id="talks">
                <h3 id="talklist">Upcoming</h3>
                {% for talk in containers.talks %}
                    {% if 'upcoming talk' in talk.tags %}
                    {% if not 'hidden' in talk.tags %}
                            <h4 id="upcoming">{{ talk.location }}&nbsp;<time>&#187;&#32;{{ talk.talk_date }}</time></h4>
                            <p><a href="{{ talk.conf_url }}">{{ talk.title }}</a></h4>
                            {% if talk.excerpt %}<p>{{ talk.excerpt }}</p>{% endif %}
                    {% endif %}{% endif %}
                {% endfor %}
                <h3 id="talklist">Past</h3>
                {% for talk in containers.talks %}
                    {% if 'past talk' in talk.tags %}
                            <h4>{{ talk.title }}&nbsp;<time>&#187;&#32;{{ talk.talk_date }}</time></h4>
                            <p id="location">{{ talk.location }}
                            {% if talk.blog_post %}
                            |&nbsp;&nbsp;<a href="{{ talk.blog_post}}"><i class="fa fa-pencil-square"></i>&nbsp;&nbsp;Blog talk</a>&nbsp;&nbsp;
                            {% endif %}
                            {% if talk.video %}|&nbsp;&nbsp;<a href="{{ talk.video }}"><i class="fa fa-video-camera"></i>&nbsp;Video</a>&nbsp;&nbsp;
                            {% endif %}
                            {% if talk.slides %}|&nbsp;&nbsp;<a href="{{ talk.slides }}"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;Slides</a>&nbsp;&nbsp;
                            {% endif %}
                            {% if talk.code %}|&nbsp;&nbsp;<a href="{{ talk.code }}"><i class="fa fa-code"></i>&nbsp;&nbsp;Demoed Code</a>&nbsp;&nbsp;
                            {% endif %}
                            </p>
                    {% endif %}
                {% endfor %}
            </article>
    </section>
{% endblock %}
