@font-face {
  font-family: JosefinSansRegular;
  src: url('/assets/fonts/JosefinSans/regular/JosefinSans-Regular-webfont.ttf') format('truetype'),
       url('/assets/fonts/JosefinSans/regular/JosefinSans-Regular-webfont.eot') format('embedded-opentype'),
       url('/assets/fonts/JosefinSans/regular/JosefinSans-Regular-webfont.svg') format('svg'),
       url('/assets/fonts/JosefinSans/regular/JosefinSans-Regular-webfont.woff') format('woff'),
       url('/assets/fonts/JosefinSans/regular/JosefinSans-Regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: JosefinSansLight;
  src: url('/assets/fonts/JosefinSans/light/JosefinSans-Light-webfont.ttf') format('truetype'),
       url('/assets/fonts/JosefinSans/light/JosefinSans-Light-webfont.eot') format('embedded-opentype'),
       url('/assets/fonts/JosefinSans/light/JosefinSans-Light-webfont.svg') format('svg'),
       url('/assets/fonts/JosefinSans/light/JosefinSans-Light-webfont.woff') format('woff'),
       url('/assets/fonts/JosefinSans/light/JosefinSans-Light-webfont.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: JosefinSansThin;
  src: url('/assets/fonts/JosefinSans/thin/JosefinSans-Thin-webfont.ttf') format('truetype'),
       url('/assets/fonts/JosefinSans/thin/JosefinSans-Thin-webfont.eot') format('embedded-opentype'),
       url('/assets/fonts/JosefinSans/thin/JosefinSans-Thin-webfont.svg') format('svg'),
       url('/assets/fonts/JosefinSans/thin/JosefinSans-Thin-webfont.woff') format('woff'),
       url('/assets/fonts/JosefinSans/thin/JosefinSans-Thin-webfont.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: JosefinSansSemiBold;
  src: url('/assets/fonts/JosefinSans/semibold/JosefinSans-SemiBold-webfont.ttf') format('truetype'),
       url('/assets/fonts/JosefinSans/semibold/JosefinSans-SemiBold-webfont.eot') format('embedded-opentype'),
       url('/assets/fonts/JosefinSans/semibold/JosefinSans-SemiBold-webfont.svg') format('svg'),
       url('/assets/fonts/JosefinSans/semibold/JosefinSans-SemiBold-webfont.woff') format('woff'),
       url('/assets/fonts/JosefinSans/semibold/JosefinSans-SemiBold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: JosefinSansBold;
  src: url('/assets/fonts/JosefinSans/bold/JosefinSans-Bold-webfont.ttf') format('truetype'),
       url('/assets/fonts/JosefinSans/bold/JosefinSans-Bold-webfont.eot') format('embedded-opentype'),
       url('/assets/fonts/JosefinSans/bold/JosefinSans-Bold-webfont.svg') format('svg'),
       url('/assets/fonts/JosefinSans/bold/JosefinSans-Bold-webfont.woff') format('woff'),
       url('/assets/fonts/JosefinSans/bold/JosefinSans-Bold-webfont.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: JosefinSansItalic;
  src: url('/assets/fonts/JosefinSans/italic/JosefinSans-Italic-webfont.ttf') format('truetype'),
       url('/assets/fonts/JosefinSans/italic/JosefinSans-Italic-webfont.eot') format('embedded-opentype'),
       url('/assets/fonts/JosefinSans/italic/JosefinSans-Italic-webfont.svg') format('svg'),
       url('/assets/fonts/JosefinSans/italic/JosefinSans-Italic-webfont.woff') format('woff'),
       url('/assets/fonts/JosefinSans/italic/JosefinSans-Italic-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: JosefinSansBoldItalic;
  src: url('/assets/fonts/JosefinSans/bolditalic/JosefinSans-BoldItalic-webfont.ttf') format('truetype'),
       url('/assets/fonts/JosefinSans/bolditalic/JosefinSans-BoldItalic-webfont.eot') format('embedded-opentype'),
       url('/assets/fonts/JosefinSans/bolditalic/JosefinSans-BoldItalic-webfont.svg') format('svg'),
       url('/assets/fonts/JosefinSans/bolditalic/JosefinSans-BoldItalic-webfont.woff') format('woff'),
       url('/assets/fonts/JosefinSans/bolditalic/JosefinSans-BoldItalic-webfont.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: JosefinSansThinItalic;
  src: url('/assets/fonts/JosefinSans/thinitalic/JosefinSans-ThinItalic-webfont.ttf') format('truetype'),
       url('/assets/fonts/JosefinSans/thinitalic/JosefinSans-ThinItalic-webfont.eot') format('embedded-opentype'),
       url('/assets/fonts/JosefinSans/thinitalic/JosefinSans-ThinItalic-webfont.svg') format('svg'),
       url('/assets/fonts/JosefinSans/thinitalic/JosefinSans-ThinItalic-webfont.woff') format('woff'),
       url('/assets/fonts/JosefinSans/thinitalic/JosefinSans-ThinItalic-webfont.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: JosefinSansSemiBoldItalic;
  src: url('/assets/fonts/JosefinSans/semibolditalic/JosefinSans-SemiBoldItalic-webfont.ttf') format('truetype'),
       url('/assets/fonts/JosefinSans/semibolditalic/JosefinSans-SemiBoldItalic-webfont.eot') format('embedded-opentype'),
       url('/assets/fonts/JosefinSans/semibolditalic/JosefinSans-SemiBoldItalic-webfont.svg') format('svg'),
       url('/assets/fonts/JosefinSans/semibolditalic/JosefinSans-SemiBoldItalic-webfont.woff') format('woff'),
       url('/assets/fonts/JosefinSans/semibolditalic/JosefinSans-SemiBoldItalic-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: JosefinSansLightItalic;
  src: url('/assets/fonts/JosefinSans/lightitalic/JosefinSans-LightItalic-webfont.ttf') format('truetype'),
       url('/assets/fonts/JosefinSans/lightitalic/JosefinSans-LightItalic-webfont.eot') format('embedded-opentype'),
       url('/assets/fonts/JosefinSans/lightitalic/JosefinSans-LightItalic-webfont.svg') format('svg'),
       url('/assets/fonts/JosefinSans/lightitalic/JosefinSans-LightItalic-webfont.woff') format('woff'),
       url('/assets/fonts/JosefinSans/lightitalic/JosefinSans-LightItalic-webfont.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: OpenSans;
  src: url('/assets/fonts/OpenSans/regular/OpenSans-Regular-webfont.ttf') format('truetype'),
       url('/assets/fonts/OpenSans/regular/OpenSans-Regular-webfont.eot') format('embedded-opentype'),
       url('/assets/fonts/OpenSans/regular/OpenSans-Regular-webfont.svg') format('svg'),
       url('/assets/fonts/OpenSans/regular/OpenSans-Regular-webfont.woff') format('woff'),
       url('/assets/fonts/OpenSans/regular/OpenSans-Regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SourceCodePro;
  src: url('/assets/fonts/source-code-pro/black/SourceCodePro-Black.ttf') format('truetype'),
       url('/assets/fonts/source-code-pro/black/SourceCodePro-Black.eot') format('embedded-opentype'),
       url('/assets/fonts/source-code-pro/black/SourceCodePro-Black.svg') format('svg'),
       url('/assets/fonts/source-code-pro/black/SourceCodePro-Black.woff') format('woff'),
       url('/assets/fonts/source-code-pro/black/SourceCodePro-Black.otf') format('opentype');
  font-weight: @font-weight-black;
  font-style: normal;
}

@font-face {
  font-family: SourceCodePro;
  src: url('/assets/fonts/source-code-pro/bold/SourceCodePro-Bold.ttf') format('truetype'),
       url('/assets/fonts/source-code-pro/bold/SourceCodePro-Bold.eot') format('embedded-opentype'),
       url('/assets/fonts/source-code-pro/bold/SourceCodePro-Bold.svg') format('svg'),
       url('/assets/fonts/source-code-pro/bold/SourceCodePro-Bold.woff') format('woff'),
       url('/assets/fonts/source-code-pro/bold/SourceCodePro-Bold.otf') format('opentype');
  font-weight: @font-weight-bold;
  font-style: normal;
}

@font-face {
  font-family: SourceCodePro;
  src: url('/assets/fonts/source-code-pro/extralight/SourceCodePro-ExtraLight.ttf') format('truetype'),
       url('/assets/fonts/source-code-pro/extralight/SourceCodePro-ExtraLight.eot') format('embedded-opentype'),
       url('/assets/fonts/source-code-pro/extralight/SourceCodePro-ExtraLight.svg') format('svg'),
       url('/assets/fonts/source-code-pro/extralight/SourceCodePro-ExtraLight.woff') format('woff'),
       url('/assets/fonts/source-code-pro/extralight/SourceCodePro-ExtraLight.otf') format('opentype');
  font-weight: @font-weight-extralight;
  font-style: normal;
}

@font-face {
  font-family: SourceCodePro;
  src: url('/assets/fonts/source-code-pro/light/SourceCodePro-Light.ttf') format('truetype'),
       url('/assets/fonts/source-code-pro/light/SourceCodePro-Light.eot') format('embedded-opentype'),
       url('/assets/fonts/source-code-pro/light/SourceCodePro-Light.svg') format('svg'),
       url('/assets/fonts/source-code-pro/light/SourceCodePro-Light.woff') format('woff'),
       url('/assets/fonts/source-code-pro/light/SourceCodePro-Light.otf') format('opentype');
  font-weight: @font-weight-light;
  font-style: normal;
}

@font-face {
  font-family: SourceCodePro;
  src: url('/assets/fonts/source-code-pro/medium/SourceCodePro-Medium.ttf') format('truetype'),
       url('/assets/fonts/source-code-pro/medium/SourceCodePro-Medium.eot') format('embedded-opentype'),
       url('/assets/fonts/source-code-pro/medium/SourceCodePro-Medium.svg') format('svg'),
       url('/assets/fonts/source-code-pro/medium/SourceCodePro-Medium.woff') format('woff'),
       url('/assets/fonts/source-code-pro/medium/SourceCodePro-Medium.otf') format('opentype');
  font-weight: @font-weight-medium;
  font-style: normal;
}

@font-face {
  font-family: SourceCodePro;
  src: url('/assets/fonts/source-code-pro/regular/SourceCodePro-Regular.ttf') format('truetype'),
       url('/assets/fonts/source-code-pro/regular/SourceCodePro-Regular.eot') format('embedded-opentype'),
       url('/assets/fonts/source-code-pro/regular/SourceCodePro-Regular.svg') format('svg'),
       url('/assets/fonts/source-code-pro/regular/SourceCodePro-Regular.woff') format('woff'),
       url('/assets/fonts/source-code-pro/regular/SourceCodePro-Regular.otf') format('opentype');
  font-weight: @font-weight-regular;
  font-style: normal;
}

@font-face {
  font-family: SourceCodePro;
  src: url('/assets/fonts/source-code-pro/semibold/SourceCodePro-Semibold.ttf') format('truetype'),
       url('/assets/fonts/source-code-pro/semibold/SourceCodePro-Semibold.eot') format('embedded-opentype'),
       url('/assets/fonts/source-code-pro/semibold/SourceCodePro-Semibold.svg') format('svg'),
       url('/assets/fonts/source-code-pro/semibold/SourceCodePro-Semibold.woff') format('woff'),
       url('/assets/fonts/source-code-pro/semibold/SourceCodePro-Semibold.otf') format('opentype');
  font-weight: @font-weight-semibold;
  font-style: normal;
}

body {
  font-family: OpenSans, sans-serif;
  padding-top: 50px;
  padding-bottom: 40px;
}

p {
  font-size:16px;
  line-height:20px;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: JosefinSansBold;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 30px;
  padding-top: 10px;
}

h4 {
  font-size: 26px;
  padding-top: 10px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

.words small {
  color: #7F808A;
  font-style: italic;
  font-size: 12px;
}

small {
  color: #7F808A;
  font-style: italic;
  font-size: 12px;
}


@media (min-width: 768px) {
  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
  }
  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
    padding-top: 10px;
  }

  h4 {
    font-size: 28px;
    padding-top: 10px;
  }

  h5 {
    font-size: 24px;
  }

  h6 {
    font-size: 20px;
  }
  .words small {
    color: #7F808A;
    font-style: italic;
    font-size: 16px;
  }

  small {
    color: #7F808A;
    font-style: italic;
    font-size: 16px;
  }

}


.social .fa {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  font-size: 2em;
}


#rogue-splash h1{
  padding-top: .5em;
  padding-bottom: 1em;
  display: block;
  font-size: 3.5em;
  line-height: 100%;
  font-weight: 700;
  margin-bottom: 0em;
  width: 100%;
  text-align: left;
}

#rogue-splash h2 {
  color: #414247;
  text-transform: uppercase;
  line-height: 100%;
  margin-top: .5em;
  margin-bottom: .5em;}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}

h2 abbr {
    color: #38a5dd;
}

#content-end {
 color: #38a5dd;
 text-align: center;
 padding-top: 30px;
 padding-bottom: 30px;
}


.rogue-footer {
  background-color: #F0F2F5;
  font-size: 30px;
  text-align: center;
  min-height: 40px;
}

.rogue-footer .fa {
  color: #313236;

}

.rogue-navbar {
  border-radius: 0;
  background: #fff; /* Old browsers */
  /*background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */*/
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */*/
  /*background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);  Chrome10+,Safari5.1+*/
  /*background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */*/
  /*background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */*/
  /*background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */*/
}

.rogue-navbar-fade {
  border-radius: 0;
  background: #fff; /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);  Chrome10+,Safari5.1+
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  height: 30px;
  border: 0;
  margin-top: -2px;
  pointer-events: none;
}


.navbar {
  margin-bottom: 0;
  border: 0;
  height: 35px;
}

.navbar-nav > li > a {
  padding-bottom: 0px;
  padding-right: 10px;
}

.navbar-collapse  {
}

#background {
  background-color: #fff;

}
.nav > li > a {
  padding 10px 15px 0px 15px;
}

.rogue-navbar .fa {
  color: #313236;
  font-size: 1.5em;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-shadow: 0 0 3px rgba(56, 165, 221, 0.8);
  color: #38a5dd;
  background-color: transparent;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.nav > li > a:hover, .nav > li > a:focus {
  text-shadow: 0 0 3px rgba(56, 165, 221, 0.8);
  color: #38a5dd;
  background-color: transparent;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
  padding-bottom: 0px;
}

.footer > a:hover, .footer > a:focus {
  text-shadow: 0 0 10px rgba(56, 165, 221, 0.8);
  color: #38a5dd;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.rogue-subnav {
  padding-left: 0px;
}

.roguenavcenter {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.rogue-copyright {
  font-size: 15px;
  font-weight: 100;
  color: #313236;
}

#footer .row, #roguenav .row {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #fff;
  border-radius: 5px;
  max-width: 700px;
}

blockquote.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  max-width: 468px;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
}

blockquote.twitter-tweet p {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
}

blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}

pre {
  border-radius: 5px;
  border: 1px solid #e1e1e8;
  width: inherit;
  max-width: 800px;
  overflow-x: scroll;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
  font-family: SourceCodePro;
}

code {
  padding: 0px;
  background: #F0F2F5;
  font-family: SourceCodePro;
}

.code {
  overflow-x: scroll;
  width: 100%;
}


td.linenos {
  width: 0em;
}

.linenodiv pre {
  width: 30px;
}

/*.words {
  font-size: 20px;
  line-height: 48px;
  list-style: none;
}*/

#blogpost-published {
  font-style: italic;
  font-weight: 100;
  font-size: 14px;
  margin-top: 2px;
  color: #7F808A;
}

a.blogpost-title-link {
  color: #333;
}

a.blogpost-title-link:hover, a.blogpost-title-link:focus {
  text-shadow: 0 0 1px rgba(56, 165, 221, 0.5);
  color: #333;
  background-color: transparent;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
  padding-bottom: 0px;
}

#date-header {
  color:#7F808A;
  font-style:italic;
  margin-left: -10em;
  text-align: left;
  padding-left: 10em;
  padding-bottom: 2em;
  padding-top: 2em;
}

ul li {
  font-size: 18px;
  line-height: 32px;
}

#break {
  font-size: .05em;
  margin: 0;
  line-height: 24px;
}


#talks p {
  padding-bottom:1.5em;
}
#talks time {
  color:#7F808A;
  font-style:italic;
  margin-left: -10em;
  text-align: left;
  padding-left: 10em;
  padding-bottom: 2em;
  padding-top: 2em;
  font-size:16px;
}
#talks {
  width: 900px;
}

#talk-separator {
  border-top: 1px solid #cecece;
}

.talk-indent {
  padding-left: 30px;
}

.project-indent {
  padding-left: 30px;
}

.dl-horizontal-border {
  border-bottom: 1px solid #eee;

}

#article-content p {
  margin-top: 15px;
}


.rogue-content a {
  text-decoration: none;
  border-bottom: 1px dashed #337ab7;
}

.rogue-content-block {
  padding-top: 50px;
}

a:hover, a:focus {
  text-decoration: none;
}

#break {
  font-size: .05em;
  content: "";
  margin-left: 20px;
  margin-right: 20px;
}

.rogue-subnavbar {
  margin-left: 13.3333%

}
.glyphicon {
  font-size: 20px;
}

.rogue-badge {
  font-weight: 200;
  background-color: #337ab7;
}

.rogue-badge a {
  color: #fff;
}

.rogue-badge a:hover, .rogue-badge a:focus {
  color: #000;
}

.lead {
  margin-top: 20px;
  margin-bottom: 10px;
}

.rogue-hover {
  border-bottom: 1px dotted #337ab7;
}


/* entypo icon adjustments */

[class^="icon-"]:before, [class*=" icon-"]:before {
  color: #313236;
  font-size: 140%;
  margin-left: 0em;
  margin-right: 0em;}

[class^="icon-"]:hover, [class*=" icon-"]:hover, [class^="icon-"]:focus, [class*=" icon-"]:focus {
  text-shadow: 0 0 3px rgba(56, 165, 221, 0.8);
  color: #38a5dd;
  background-color: transparent;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
  padding-bottom: 0px;
}


.footer [class^="icon-"]:before, .footer [class*=" icon-"]:before {
  font-size: 100%;
  margin-left: 0em;
  margin-right: 0em;
}

.footer .fa {
  font-size: 85%;
}
