@import 'fonts.css';

body {
  font-family: SourceSansPro, sans-serif;
  padding-top: 50px;
  padding-bottom: 40px;
}

p {
  font-size:16px;
  line-height:20px;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, sans-serif;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 46px;
}

h3 {
  font-size: 30px;
  padding-top: 10px;
}

h4 {
  font-size: 22px;
  padding-top: 10px;
  font-variant: small-caps;
  text-transform: uppercase;
}

h5 {
  font-size: 22px;
  padding-top: 10px;
}

h6 {
  font-size: 18px;
}


.words small {
  color: #7F808A;
  font-style: italic;
  font-size: 12px;
}

small {
  color: #7F808A;
  font-style: italic;
  font-size: 12px;
}



@media (min-width: 768px) {
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
  }
  h1 {
    font-size: 60px;
    font-weight: 900;
  }

  h2 {
    font-size: 54px;
    font-weight: 800;
  }

  h3 {
    font-size: 34px;
    font-weight: 600;
  }

  h4 {
    font-size: 22px;
    padding-top: 10px;
    font-weight: 800;
    color: #555555; /* gray / hex3 */
  }

  h5 {
    font-size: 22px;
    font-weight: 800;
  }

  h6 {
    font-size: 18px;
    font-weight: 800;
  }
  .words small {
    color: #7F808A;
    font-style: italic;
    font-size: 16px;
  }

  small {
    color: #7F808A;
    font-style: italic;
    font-size: 16px;
  }

}


.social .fa {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  font-size: 2em;
}

#rogue-splash h1, h2 {
  text-transform: uppercase;
  line-height: 100%;
  margin-top: .5em;
  margin-bottom: .5em;
}

#rogue-splash h1 {
  font-size: 6em;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: none;
  text-decoration: none;
}

h2 abbr {
    color: #38a5dd;
}

#content-end {
 color: #38a5dd;
 text-align: center;
 padding-top: 30px;
 padding-bottom: 30px;
}


.rogue-footer {
  background-color: #F0F2F5;
  font-size: 30px;
  text-align: center;
  min-height: 40px;
}

.rogue-footer .fa {
  color: #313236;

}

.rogue-navbar {
  border-radius: 0;
  background: #fff; /* Old browsers */
  /*background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */*/
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */*/
  /*background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);  Chrome10+,Safari5.1+*/
  /*background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */*/
  /*background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */*/
  /*background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */*/
}

.rogue-navbar-fade {
  border-radius: 0;
  background: #fff; /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);  Chrome10+,Safari5.1+
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  height: 30px;
  border: 0;
  margin-top: -2px;
  pointer-events: none;
}


.navbar {
  margin-bottom: 0;
  border: 0;
  height: 35px;
}

.navbar-nav > li > a {
  padding-bottom: 0px;
  padding-right: 10px;
}

.navbar-collapse  {
}

#background {
  background-color: #fff;

}
.nav > li > a {
  padding 10px 15px 0px 15px;
}

.rogue-navbar .fa {
  color: #313236;
  font-size: 1.5em;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-shadow: 0 0 3px rgba(56, 165, 221, 0.8);
  color: #38a5dd;
  background-color: transparent;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.nav > li > a:hover, .nav > li > a:focus {
  text-shadow: 0 0 3px rgba(56, 165, 221, 0.8);
  color: #38a5dd;
  background-color: transparent;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
  padding-bottom: 0px;
}

.footer > a:hover, .footer > a:focus {
  text-shadow: 0 0 10px rgba(56, 165, 221, 0.8);
  color: #38a5dd;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.rogue-subnav {
  padding-left: 0px;
}

.roguenavcenter {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.rogue-copyright {
  font-size: 15px;
  font-weight: 100;
  color: #313236;
}

#footer .row, #roguenav .row {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #fff;
  border-radius: 5px;
  max-width: 700px;
}

blockquote.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  max-width: 468px;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
}

blockquote.twitter-tweet p {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
}

blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}

pre {
  border-radius: 0px;
  border: 1px solid #e1e1e8;
  width: inherit;
  max-width: 800px;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
  font-family: SourceCodePro, monospace;
}

code {
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  background: #F0F2F5;
  font-family: SourceCodePro, monospace;
}

.rogue-tag {
  padding: 0px;
  padding-left: 6px;
  padding-right: 6px;
  background: #F0F2F5;
  color: #337ab7;
  border-radius: 2px;
  border: none;
  font-weight: 400;
  white-space: nowrap;
}

.rogue-tags {
  float: right;
}

@media all and (max-width: 768px) {
    .rogue-tags {display:none;}
}

.code {
  width: 100%;
}


td.linenos {
  width: 0em;
}

.linenodiv pre {
  width: 30px;
}

.words {
  font-size: 20px;
  line-height: 48px;
  list-style: none;
}

#blogpost-published {
  font-style: italic;
  font-weight: 100;
  font-size: 14px;
  margin-top: 2px;
  color: #7F808A;
}

a.blogpost-title-link {
  color: #333;
}

a.blogpost-title-link:hover, a.blogpost-title-link:focus {
  text-shadow: 0 0 1px rgba(56, 165, 221, 0.7);
  color: #333;
  background-color: transparent;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
  padding-bottom: 0px;
}


a.tag-home {
  color: #333;
}

a.tag-home:hover, a.tag-home:focus {
  text-shadow: 0 0 2px rgba(56, 165, 221, 0.7);
  color: #333;
  background-color: transparent;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
  padding-bottom: 0px;
}

#date-header {
  color:#7F808A;
  font-style:italic;
  margin-left: -10em;
  text-align: left;
  padding-left: 10em;
  padding-bottom: 2em;
  padding-top: 2em;
}

ul li {
  font-size: 20px;
  line-height: 32px;
}

#break {
  font-size: .05em;
  margin: 0;
  line-height: 24px;
}


#talks p {
  padding-bottom:1.5em;
}
#talks time {
  color:#7F808A;
  font-style:italic;
  margin-left: -10em;
  text-align: left;
  padding-left: 10em;
  padding-bottom: 2em;
  padding-top: 2em;
  font-size:16px;
}
#talks {
  width: 900px;
}

#talk-separator {
  border-top: 1px solid #cecece;
}

.talk-indent {
  padding-left: 30px;
}

.project-indent {
  padding-left: 30px;
}

.dl-horizontal-border {
  border-bottom: 1px solid #eee;

}

#article-content p {
  margin-top: 15px;
}


.rogue-content a {
  text-decoration: none;
}

.rogue-content-block {
  padding-top: 50px;
}

a:hover, a:focus {
  text-decoration: none;
}

#break {
  font-size: .05em;
  content: "";
  margin-left: 20px;
  margin-right: 20px;
}

.rogue-subnavbar {
  margin-left: 13.3333%

}
.glyphicon {
  font-size: 20px;
}

.rogue-badge {
  font-weight: 200;
  background-color: #337ab7;
}

.rogue-badge a {
  color: #fff;
}

.rogue-badge a:hover, .rogue-badge a:focus {
  color: #fff;
}

.rogue-badge:hover, .rogue-badge:focus {
  background-color: rgba(56, 165, 221, 0.8);
}

.tag-count {
  font-size: 90%;
}

.lead {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 110%;
}

.rogue-hover {
  border-bottom: 1px dotted #337ab7;
}


/* entypo icon adjustments */

[class^="icon-"]:before, [class*=" icon-"]:before {
  color: #313236;
  font-size: 140%;
  margin-left: 0em;
  margin-right: 0em;}

[class^="icon-"]:hover, [class*=" icon-"]:hover, [class^="icon-"]:focus, [class*=" icon-"]:focus {
  text-shadow: 0 0 3px rgba(56, 165, 221, 0.8);
  color: #38a5dd;
  background-color: transparent;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
  padding-bottom: 0px;
}


.footer [class^="icon-"]:before, .footer [class*=" icon-"]:before {
  font-size: 100%;
  margin-left: 0em;
  margin-right: 0em;
}

.footer .fa {
  font-size: 85%;
}

.disclaimer {
  color: #7F808A;
  font-size: 15px;
  font-weight: 100;
}

.disclaimer strong {
  font-weight: 700;
  color: #313236;
}

/* TODO: fix so this is normal block quoting */
.blockquote-highlight {
  font-family: 'Parisienne', cursive;
  background-color: #fff;
  margin: 0 0 20px;
  padding: 10px 20px;
  border-left: 5px solid #eee
}

.blockquote-highlight p {
  font-size: 24px;
  color: #A9A9A9;
  text-indent: 50px;
}

.blockquote-highlight a {
  text-decoration: none;
  border-bottom: none;
}


.blockquote-emp {
  color: #38a5dd;
}

.bullshit {
  font-variant: small-caps;
}

.img-displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.roguelynn-card {
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 5px;
}

.roguelynn-card-row {
  padding-bottom: 15px;
}

.roguelynn-card > .rogue-badge {
  font-weight: 200;
  background-color: #7F808A;
}


.rogue-source {
  font-style: italic;
  font-size: 80%;
}

.rogue-source a {
  color: #7F808A;
  text-decoration: none;
  border-bottom: 1px dashed #337ab7;
}


.center-shit {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
  margin-bottom: 20px;
}

figcaption a {
  border-bottom: 1px dashed #337ab7;
}

a > code {
  color: #337ab7;
}

.underline {
  border-bottom: 1px solid black;
}
