
.icon-fingerprint:before { content: '\e800'; } /* '' */
.icon-blackboard:before { content: '\e801'; } /* '' */
.icon-video:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-modern-mic:before { content: '\e804'; } /* '' */
.icon-mask:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-drink:before { content: '\e807'; } /* '' */
.icon-github:before { content: '\e808'; } /* '' */
.icon-quote:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\e80a'; } /* '' */
.icon-lab-flask:before { content: '\e80b'; } /* '' */
.icon-code:before { content: '\e80c'; } /* '' */
.icon-attachment:before { content: '\e80d'; } /* '' */
.icon-spotify:before { content: '\e80e'; } /* '' */
.icon-aircraft-take-off:before { content: '\e80f'; } /* '' */
.icon-text:before { content: '\e810'; } /* '' */
.icon-flow-branch:before { content: '\e811'; } /* '' */
.icon-open-book:before { content: '\e812'; } /* '' */
.icon-link:before { content: '\e813'; } /* '' */