/* Monospace/code font */
@font-face {
  font-family: SourceCodePro;
  src: url('/assets/fonts/source-code-pro/black/SourceCodePro-Black.ttf') format('truetype'),
       url('/assets/fonts/source-code-pro/black/SourceCodePro-Black.eot') format('embedded-opentype'),
       url('/assets/fonts/source-code-pro/black/SourceCodePro-Black.svg') format('svg'),
       url('/assets/fonts/source-code-pro/black/SourceCodePro-Black.woff') format('woff'),
       url('/assets/fonts/source-code-pro/black/SourceCodePro-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: SourceCodePro;
  src: url('/assets/fonts/source-code-pro/bold/SourceCodePro-Bold.ttf') format('truetype'),
       url('/assets/fonts/source-code-pro/bold/SourceCodePro-Bold.eot') format('embedded-opentype'),
       url('/assets/fonts/source-code-pro/bold/SourceCodePro-Bold.svg') format('svg'),
       url('/assets/fonts/source-code-pro/bold/SourceCodePro-Bold.woff') format('woff'),
       url('/assets/fonts/source-code-pro/bold/SourceCodePro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: SourceCodePro;
  src: url('/assets/fonts/source-code-pro/extralight/SourceCodePro-ExtraLight.ttf') format('truetype'),
       url('/assets/fonts/source-code-pro/extralight/SourceCodePro-ExtraLight.eot') format('embedded-opentype'),
       url('/assets/fonts/source-code-pro/extralight/SourceCodePro-ExtraLight.svg') format('svg'),
       url('/assets/fonts/source-code-pro/extralight/SourceCodePro-ExtraLight.woff') format('woff'),
       url('/assets/fonts/source-code-pro/extralight/SourceCodePro-ExtraLight.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: SourceCodePro;
  src: url('/assets/fonts/source-code-pro/light/SourceCodePro-Light.ttf') format('truetype'),
       url('/assets/fonts/source-code-pro/light/SourceCodePro-Light.eot') format('embedded-opentype'),
       url('/assets/fonts/source-code-pro/light/SourceCodePro-Light.svg') format('svg'),
       url('/assets/fonts/source-code-pro/light/SourceCodePro-Light.woff') format('woff'),
       url('/assets/fonts/source-code-pro/light/SourceCodePro-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: SourceCodePro;
  src: url('/assets/fonts/source-code-pro/medium/SourceCodePro-Medium.ttf') format('truetype'),
       url('/assets/fonts/source-code-pro/medium/SourceCodePro-Medium.eot') format('embedded-opentype'),
       url('/assets/fonts/source-code-pro/medium/SourceCodePro-Medium.svg') format('svg'),
       url('/assets/fonts/source-code-pro/medium/SourceCodePro-Medium.woff') format('woff'),
       url('/assets/fonts/source-code-pro/medium/SourceCodePro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: SourceCodePro;
  src: url('/assets/fonts/source-code-pro/regular/SourceCodePro-Regular.ttf') format('truetype'),
       url('/assets/fonts/source-code-pro/regular/SourceCodePro-Regular.eot') format('embedded-opentype'),
       url('/assets/fonts/source-code-pro/regular/SourceCodePro-Regular.svg') format('svg'),
       url('/assets/fonts/source-code-pro/regular/SourceCodePro-Regular.woff') format('woff'),
       url('/assets/fonts/source-code-pro/regular/SourceCodePro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SourceCodePro;
  src: url('/assets/fonts/source-code-pro/semibold/SourceCodePro-Semibold.ttf') format('truetype'),
       url('/assets/fonts/source-code-pro/semibold/SourceCodePro-Semibold.eot') format('embedded-opentype'),
       url('/assets/fonts/source-code-pro/semibold/SourceCodePro-Semibold.svg') format('svg'),
       url('/assets/fonts/source-code-pro/semibold/SourceCodePro-Semibold.woff') format('woff'),
       url('/assets/fonts/source-code-pro/semibold/SourceCodePro-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}


/* Body */

@font-face {
  font-family: SourceSansPro;
  src: url('/assets/fonts/source-sans-pro/black/SourceSansPro-Black.ttf') format('truetype'),
       url('/assets/fonts/source-sans-pro/black/SourceSansPro-Black.eot') format('embedded-opentype'),
       url('/assets/fonts/source-sans-pro/black/SourceSansPro-Black.svg') format('svg'),
       url('/assets/fonts/source-sans-pro/black/SourceSansPro-Black.woff') format('woff'),
       url('/assets/fonts/source-sans-pro/black/SourceSansPro-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: SourceSansPro;
  src: url('/assets/fonts/source-sans-pro/blackit/SourceSansPro-BlackIt.ttf') format('truetype'),
       url('/assets/fonts/source-sans-pro/blackit/SourceSansPro-BlackIt.eot') format('embedded-opentype'),
       url('/assets/fonts/source-sans-pro/blackit/SourceSansPro-BlackIt.svg') format('svg'),
       url('/assets/fonts/source-sans-pro/blackit/SourceSansPro-BlackIt.woff') format('woff'),
       url('/assets/fonts/source-sans-pro/blackit/SourceSansPro-BlackIt.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: SourceSansPro;
  src: url('/assets/fonts/source-sans-pro/bold/SourceSansPro-Bold.ttf') format('truetype'),
       url('/assets/fonts/source-sans-pro/bold/SourceSansPro-Bold.eot') format('embedded-opentype'),
       url('/assets/fonts/source-sans-pro/bold/SourceSansPro-Bold.svg') format('svg'),
       url('/assets/fonts/source-sans-pro/bold/SourceSansPro-Bold.woff') format('woff'),
       url('/assets/fonts/source-sans-pro/bold/SourceSansPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: SourceSansPro;
  src: url('/assets/fonts/source-sans-pro/boldit/SourceSansPro-BoldIt.ttf') format('truetype'),
       url('/assets/fonts/source-sans-pro/boldit/SourceSansPro-BoldIt.eot') format('embedded-opentype'),
       url('/assets/fonts/source-sans-pro/boldit/SourceSansPro-BoldIt.svg') format('svg'),
       url('/assets/fonts/source-sans-pro/boldit/SourceSansPro-BoldIt.woff') format('woff'),
       url('/assets/fonts/source-sans-pro/boldit/SourceSansPro-BoldIt.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: SourceSansPro;
  src: url('/assets/fonts/source-sans-pro/extralight/SourceSansPro-ExtraLight.ttf') format('truetype'),
       url('/assets/fonts/source-sans-pro/extralight/SourceSansPro-ExtraLight.eot') format('embedded-opentype'),
       url('/assets/fonts/source-sans-pro/extralight/SourceSansPro-ExtraLight.svg') format('svg'),
       url('/assets/fonts/source-sans-pro/extralight/SourceSansPro-ExtraLight.woff') format('woff'),
       url('/assets/fonts/source-sans-pro/extralight/SourceSansPro-ExtraLight.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: SourceSansPro;
  src: url('/assets/fonts/source-sans-pro/extralightit/SourceSansPro-ExtraLightIt.ttf') format('truetype'),
       url('/assets/fonts/source-sans-pro/extralightit/SourceSansPro-ExtraLightIt.eot') format('embedded-opentype'),
       url('/assets/fonts/source-sans-pro/extralightit/SourceSansPro-ExtraLightIt.svg') format('svg'),
       url('/assets/fonts/source-sans-pro/extralightit/SourceSansPro-ExtraLightIt.woff') format('woff'),
       url('/assets/fonts/source-sans-pro/extralightit/SourceSansPro-ExtraLightIt.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: SourceSansPro;
  src: url('/assets/fonts/source-sans-pro/it/SourceSansPro-It.ttf') format('truetype'),
       url('/assets/fonts/source-sans-pro/it/SourceSansPro-It.eot') format('embedded-opentype'),
       url('/assets/fonts/source-sans-pro/it/SourceSansPro-It.svg') format('svg'),
       url('/assets/fonts/source-sans-pro/it/SourceSansPro-It.woff') format('woff'),
       url('/assets/fonts/source-sans-pro/it/SourceSansPro-It.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: SourceSansPro;
  src: url('/assets/fonts/source-sans-pro/light/SourceSansPro-Light.ttf') format('truetype'),
       url('/assets/fonts/source-sans-pro/light/SourceSansPro-Light.eot') format('embedded-opentype'),
       url('/assets/fonts/source-sans-pro/light/SourceSansPro-Light.svg') format('svg'),
       url('/assets/fonts/source-sans-pro/light/SourceSansPro-Light.woff') format('woff'),
       url('/assets/fonts/source-sans-pro/light/SourceSansPro-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: SourceSansPro;
  src: url('/assets/fonts/source-sans-pro/lightit/SourceSansPro-LightIt.ttf') format('truetype'),
       url('/assets/fonts/source-sans-pro/lightit/SourceSansPro-LightIt.eot') format('embedded-opentype'),
       url('/assets/fonts/source-sans-pro/lightit/SourceSansPro-LightIt.svg') format('svg'),
       url('/assets/fonts/source-sans-pro/lightit/SourceSansPro-LightIt.woff') format('woff'),
       url('/assets/fonts/source-sans-pro/lightit/SourceSansPro-LightIt.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: SourceSansPro;
  src: url('/assets/fonts/source-sans-pro/regular/SourceSansPro-Regular.ttf') format('truetype'),
       url('/assets/fonts/source-sans-pro/regular/SourceSansPro-Regular.eot') format('embedded-opentype'),
       url('/assets/fonts/source-sans-pro/regular/SourceSansPro-Regular.svg') format('svg'),
       url('/assets/fonts/source-sans-pro/regular/SourceSansPro-Regular.woff') format('woff'),
       url('/assets/fonts/source-sans-pro/regular/SourceSansPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SourceSansPro;
  src: url('/assets/fonts/source-sans-pro/semibold/SourceSansPro-Semibold.ttf') format('truetype'),
       url('/assets/fonts/source-sans-pro/semibold/SourceSansPro-Semibold.eot') format('embedded-opentype'),
       url('/assets/fonts/source-sans-pro/semibold/SourceSansPro-Semibold.svg') format('svg'),
       url('/assets/fonts/source-sans-pro/semibold/SourceSansPro-Semibold.woff') format('woff'),
       url('/assets/fonts/source-sans-pro/semibold/SourceSansPro-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: SourceSansPro;
  src: url('/assets/fonts/source-sans-pro/semiboldit/SourceSansPro-SemiboldIt.ttf') format('truetype'),
       url('/assets/fonts/source-sans-pro/semiboldit/SourceSansPro-SemiboldIt.eot') format('embedded-opentype'),
       url('/assets/fonts/source-sans-pro/semiboldit/SourceSansPro-SemiboldIt.svg') format('svg'),
       url('/assets/fonts/source-sans-pro/semiboldit/SourceSansPro-SemiboldIt.woff') format('woff'),
       url('/assets/fonts/source-sans-pro/semiboldit/SourceSansPro-SemiboldIt.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}


/* Blockquote/cursive font */

@font-face {
  font-family: Parisienne;
  src: url('/assets/fonts/parisienne/Parisienne-Regular.ttf') format('truetype'),
       url('/assets/fonts/parisienne/Parisienne-Regular.eot') format('embedded-opentype'),
       url('/assets/fonts/parisienne/Parisienne-Regular.svg') format('svg'),
       url('/assets/fonts/parisienne/Parisienne-Regular.woff') format('woff'),
       url('/assets/fonts/parisienne/Parisienne-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Header font */
@font-face {
  font-family: Raleway;
  src: url('/assets/fonts/raleway/black/Raleway-Black.ttf') format('truetype'),
       url('/assets/fonts/raleway/black/Raleway-Black.eot') format('embedded-opentype'),
       url('/assets/fonts/raleway/black/Raleway-Black.svg') format('svg'),
       url('/assets/fonts/raleway/black/Raleway-Black.woff') format('woff'),
       url('/assets/fonts/raleway/black/Raleway-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url('/assets/fonts/raleway/blackitalic/Raleway-BlackItalic.ttf') format('truetype'),
       url('/assets/fonts/raleway/blackitalic/Raleway-BlackItalic.eot') format('embedded-opentype'),
       url('/assets/fonts/raleway/blackitalic/Raleway-BlackItalic.svg') format('svg'),
       url('/assets/fonts/raleway/blackitalic/Raleway-BlackItalic.woff') format('woff'),
       url('/assets/fonts/raleway/blackitalic/Raleway-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url('/assets/fonts/raleway/extrabold/Raleway-ExtraBold.ttf') format('truetype'),
       url('/assets/fonts/raleway/extrabold/Raleway-ExtraBold.eot') format('embedded-opentype'),
       url('/assets/fonts/raleway/extrabold/Raleway-ExtraBold.svg') format('svg'),
       url('/assets/fonts/raleway/extrabold/Raleway-ExtraBold.woff') format('woff'),
       url('/assets/fonts/raleway/extrabold/Raleway-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url('/assets/fonts/raleway/extrabolditalic/Raleway-ExtraBoldItalic.ttf') format('truetype'),
       url('/assets/fonts/raleway/extrabolditalic/Raleway-ExtraBoldItalic.eot') format('embedded-opentype'),
       url('/assets/fonts/raleway/extrabolditalic/Raleway-ExtraBoldItalic.svg') format('svg'),
       url('/assets/fonts/raleway/extrabolditalic/Raleway-ExtraBoldItalic.woff') format('woff'),
       url('/assets/fonts/raleway/extrabolditalic/Raleway-ExtraBoldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}


@font-face {
  font-family: Raleway;
  src: url('/assets/fonts/raleway/bold/Raleway-Bold.ttf') format('truetype'),
       url('/assets/fonts/raleway/bold/Raleway-Bold.eot') format('embedded-opentype'),
       url('/assets/fonts/raleway/bold/Raleway-Bold.svg') format('svg'),
       url('/assets/fonts/raleway/bold/Raleway-Bold.woff') format('woff'),
       url('/assets/fonts/raleway/bold/Raleway-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url('/assets/fonts/raleway/bolditalic/Raleway-BoldItalic.ttf') format('truetype'),
       url('/assets/fonts/raleway/bolditalic/Raleway-BoldItalic.eot') format('embedded-opentype'),
       url('/assets/fonts/raleway/bolditalic/Raleway-BoldItalic.svg') format('svg'),
       url('/assets/fonts/raleway/bolditalic/Raleway-BoldItalic.woff') format('woff'),
       url('/assets/fonts/raleway/bolditalic/Raleway-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url('/assets/fonts/raleway/semibold/Raleway-SemiBold.ttf') format('truetype'),
       url('/assets/fonts/raleway/semibold/Raleway-SemiBold.eot') format('embedded-opentype'),
       url('/assets/fonts/raleway/semibold/Raleway-SemiBold.svg') format('svg'),
       url('/assets/fonts/raleway/semibold/Raleway-SemiBold.woff') format('woff'),
       url('/assets/fonts/raleway/semibold/Raleway-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url('/assets/fonts/raleway/semibolditalic/Raleway-SemiBoldItalic.ttf') format('truetype'),
       url('/assets/fonts/raleway/semibolditalic/Raleway-SemiBoldItalic.eot') format('embedded-opentype'),
       url('/assets/fonts/raleway/semibolditalic/Raleway-SemiBoldItalic.svg') format('svg'),
       url('/assets/fonts/raleway/semibolditalic/Raleway-SemiBoldItalic.woff') format('woff'),
       url('/assets/fonts/raleway/semibolditalic/Raleway-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url('/assets/fonts/raleway/medium/Raleway-Medium.ttf') format('truetype'),
       url('/assets/fonts/raleway/medium/Raleway-Medium.eot') format('embedded-opentype'),
       url('/assets/fonts/raleway/medium/Raleway-Medium.svg') format('svg'),
       url('/assets/fonts/raleway/medium/Raleway-Medium.woff') format('woff'),
       url('/assets/fonts/raleway/medium/Raleway-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url('/assets/fonts/raleway/mediumitalic/Raleway-MediumItalic.ttf') format('truetype'),
       url('/assets/fonts/raleway/mediumitalic/Raleway-MediumItalic.eot') format('embedded-opentype'),
       url('/assets/fonts/raleway/mediumitalic/Raleway-MediumItalic.svg') format('svg'),
       url('/assets/fonts/raleway/mediumitalic/Raleway-MediumItalic.woff') format('woff'),
       url('/assets/fonts/raleway/mediumitalic/Raleway-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url('/assets/fonts/raleway/regular/Raleway-Regular.ttf') format('truetype'),
       url('/assets/fonts/raleway/regular/Raleway-Regular.eot') format('embedded-opentype'),
       url('/assets/fonts/raleway/regular/Raleway-Regular.svg') format('svg'),
       url('/assets/fonts/raleway/regular/Raleway-Regular.woff') format('woff'),
       url('/assets/fonts/raleway/regular/Raleway-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url('/assets/fonts/raleway/italic/Raleway-Italic.ttf') format('truetype'),
       url('/assets/fonts/raleway/italic/Raleway-Italic.eot') format('embedded-opentype'),
       url('/assets/fonts/raleway/italic/Raleway-Italic.svg') format('svg'),
       url('/assets/fonts/raleway/italic/Raleway-Italic.woff') format('woff'),
       url('/assets/fonts/raleway/italic/Raleway-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url('/assets/fonts/raleway/light/Raleway-Light.ttf') format('truetype'),
       url('/assets/fonts/raleway/light/Raleway-Light.eot') format('embedded-opentype'),
       url('/assets/fonts/raleway/light/Raleway-Light.svg') format('svg'),
       url('/assets/fonts/raleway/light/Raleway-Light.woff') format('woff'),
       url('/assets/fonts/raleway/light/Raleway-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url('/assets/fonts/raleway/lightitalic/Raleway-LightItalic.ttf') format('truetype'),
       url('/assets/fonts/raleway/lightitalic/Raleway-LightItalic.eot') format('embedded-opentype'),
       url('/assets/fonts/raleway/lightitalic/Raleway-LightItalic.svg') format('svg'),
       url('/assets/fonts/raleway/lightitalic/Raleway-LightItalic.woff') format('woff'),
       url('/assets/fonts/raleway/lightitalic/Raleway-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url('/assets/fonts/raleway/extralight/Raleway-ExtraLight.ttf') format('truetype'),
       url('/assets/fonts/raleway/extralight/Raleway-ExtraLight.eot') format('embedded-opentype'),
       url('/assets/fonts/raleway/extralight/Raleway-ExtraLight.svg') format('svg'),
       url('/assets/fonts/raleway/extralight/Raleway-ExtraLight.woff') format('woff'),
       url('/assets/fonts/raleway/extralight/Raleway-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url('/assets/fonts/raleway/extralightitalic/Raleway-ExtraLightItalic.ttf') format('truetype'),
       url('/assets/fonts/raleway/extralightitalic/Raleway-ExtraLightItalic.eot') format('embedded-opentype'),
       url('/assets/fonts/raleway/extralightitalic/Raleway-ExtraLightItalic.svg') format('svg'),
       url('/assets/fonts/raleway/extralightitalic/Raleway-ExtraLightItalic.woff') format('woff'),
       url('/assets/fonts/raleway/extralightitalic/Raleway-ExtraLightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url('/assets/fonts/raleway/thin/Raleway-Thin.ttf') format('truetype'),
       url('/assets/fonts/raleway/thin/Raleway-Thin.eot') format('embedded-opentype'),
       url('/assets/fonts/raleway/thin/Raleway-Thin.svg') format('svg'),
       url('/assets/fonts/raleway/thin/Raleway-Thin.woff') format('woff'),
       url('/assets/fonts/raleway/thin/Raleway-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url('/assets/fonts/raleway/thinitalic/Raleway-ThinItalic.ttf') format('truetype'),
       url('/assets/fonts/raleway/thinitalic/Raleway-ThinItalic.eot') format('embedded-opentype'),
       url('/assets/fonts/raleway/thinitalic/Raleway-ThinItalic.svg') format('svg'),
       url('/assets/fonts/raleway/thinitalic/Raleway-ThinItalic.woff') format('woff'),
       url('/assets/fonts/raleway/thinitalic/Raleway-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

