{% extends "layout.html" %}
{% block title %}Resume{% endblock %}
{% block content %}
    <section id="resume">
        <h1>Résumé</h1>
            <span style="font-size:14px;"><a href="{{ get_asset('pdfs/Resume.05.2015.pdf') }}">PDF version</a> – last updated May 17, 2015</span>
            <p style="font-size:14px;">Links for the lazy: <a href="#skills">skills</a> | <a href="#projects">projects</a> | <a href="#experience">experience</a> | <a href="#talks">tech talks</a> | <a href="#edu">education</a></p>
            <article>
                <h3 id="tldr">tl;dr</h3>
                {% for item in containers.resume %}
                    {% if "tldr" in item.category %}
                        {{ item.content }}
                    {% endif %}
                {% endfor %}

                <h3 id="skills">Skills</h3>
                <ul>
                {% for item in containers.resume %}
                    {% if 'skills' in item.category %}
                        <li><i>Languages:</i> {% for lang in item.languages %}{{ lang.name }} ({{ lang.exp }}){% if loop.last %}{% else %}, {% endif %}{% endfor %}
                        <li><i>Operating Systems:</i> {% for sys in item.operating %}{{ sys }}{% if loop.last %}{% else %}, {% endif %}{% endfor %}
                        <li><i>Tools:</i> {% for tool in item.tools %}{{ tool }}{% if loop.last %}{% else %}, {% endif %}{% endfor %}
                    {% endif %}
                {% endfor %}
                </ul>

                <h3 id="projects">Projects</h3>
                <ul>
                {% for item in containers.resume %}
                    {% if 'projects' in item.category %}
                        <li><a href="{{ item.link }}">{{ item.title }}</a>: {{ item.excerpt }} <small>– Released {{ item.released }}</small></li>
                    {% endif %}
                {% endfor %}
                </ul>

                <h3 id="experience">Experience</h3>
                {% for item in containers.resume %}
                    {% if 'experience' in item.category %}
                        <h4 id="{{ item.anchor }}">{{ item.position }} – {{ item.employer }}, {{ item.location }}</h4>
                        <small>{{ item.dateemp }}</small><br/>
                        {% if item.tags %}<small>{{ item.tags|join(", ") }}</small><br/>{% endif %}
                        {{ item.content }}
                    {% endif %}
                {% endfor %}

                <h3 id="talks">Selected Technical Talks</h3>
                {% for item in containers.resume %}
                    {% if 'talks' in item.category %}
                      {% for talk in item.talks %}
                        <h4>{{ talk.title }}</h4>
                          <small style="padding-left:30px;">Conference{% if talk.conferences|length > 1 %}s:{% else %}:{% endif %} {% for conf in talk.conferences %}<a href="{{ conf.link }}">{{ conf.name }}</a>, {{ conf.year }} {% if not loop.last %} | {% endif %}{% endfor %}</small>
                          {% if talk.video %}<br><span style="padding-left:30px;"><a href="{{ talk.video }}"><i class="fa fa-video-camera"></i>&nbsp;Video</a>{% if talk.slides %} | {% else %}</span>{% endif %}{% endif %}
                          {% if talk.slides %}{% if not talk.video %}<br><span style="padding-left:30px;">{% endif %}<a href="{{ talk.slides }}"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;Slides</a></span>{% endif %}
                      {% endfor %}
                    {% endif %}
                {% endfor %}

                <h3 id="edu">Education</h3>
                {% for item in containers.resume %}
                    {% if 'school' in item.category %}
                        <h4>{{ item.title}} – {{ item.degree}}</h4>
                        <small>{{ item.dateemp }}, {{ item.address }}</small>
                        {{ item.content }}
                    {% endif %}
                {% endfor %}
            </article>
    </section>
{% endblock %}
