{% extends "layout.html" %}
{% block title %}As Seen On{% endblock %}
{% block content %}
    <div class="page-header">
      <h2 id="talklist">As Seen On...</h2>
      <small>Just a little humblebragging.</small>
    </div>
    {% for item in containers.fingerprints %}
      <div class="dl-horizontal dl-horizontal-border" style="padding-bottom: 10px;">
        <dt style="padding-top: 26px;padding-right:3px;"><small>{{ item.date }}</small></dt>
        <dd><h4>{{ item.source }}</h4></dd>
        <dt style="padding-top:5px;"><p>{% for t in item.type %}<span title="{{ t[0] }}"><i class="icon-{{ t[1] }}"></i></span>{% endfor %}</p></dt>
        <dd><p><a href="{{ item.link }}">{{ item.title }}</a></p></dd>
        {% if item.content %}
          <dt></dt>
          <dd>{{ item.content }}</dd>
        {% endif %}
      </div>
  {% endfor %}
{% endblock %}
