{% extends "layout.html" %}
{% block title %}Sticky Pages{% endblock %}
{% block content %}
<div class="page-header"><h1>Sticky Pages</h1></div>
    <h3>Tools Lynn Uses</h3>
    {% for post in posts %}
        {% if 'resources' in post.category and 'tools' in post.category %}
         {{ post.content }}
        {% endif %}
        {% endfor %}

    <h3>Readings</h3>
    {% for post in posts %}
        {% if 'resources' in post.category and 'readings' in post.category %}
        <ul>
            <li><a href="{{ post.book_link }}">{{ post.title }}</a></li>
        </ul>
        {% endif %}
        {% endfor %}
    <h3>Selected Posts</h3>
    {% for post in posts %}
        {% if 'resources' in post.category and 'words' in post.category %}
        <ul>
            <li><a href="{{ get_url(post.url) }}">{{ post.title }}</a></li>
        </ul>
        {% endif %}
    {% endfor %}
{% endblock %}
