{% extends "layout.html" %}
{% block extrahead %}
  <meta name="keywords" content="python pyladies infrastructure sre devops djangogirls">

  <meta name="og:title" content="Words">
  <meta name="og:url" content="{{ get_url(absolute=True) }}words">
  <meta name="og:type" content="website">
  <meta name="og:image" content="{{ get_url(get_asset('images/favicon/favicon.ico'), absolute=True) }}">
  <meta name="og:description" content="Articles by Lynn Root">

  <meta name="twitter:title" content="Words">
  <meta name="twitter:description" content="Articles by Lynn Root">
{% endblock %}
{% block title %}Words{% endblock %}
{% block content %}
  <div class="page-header"><h1>Words</h1></div>
  {% for post in posts %}
    {% if 'words' in post.category %}
      <div class="dl-horizontal">
        <dt style="padding-right:3px;"><p id="blogpost-published">{{ post.timestamp|date('%b %d, %Y') }}</p></dt>
        <dd><p><a class="blogpost-title-link" href="{{ post.url }}">{{ post.title }}</a></p></dd>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}
