{% extends "site.html" %}
{% block title %}PyLadies{% endblock %}
{% block content %}
    <section id="archive">
        <h1><img class="inline" title="PyLadies" src="{{ get_asset('images/pyladies_logo.png') }}" alt="Lynn Root" width="300" height="127" /></h1>
        <article>
            <p><a href="http://pyladies.com">PyLadies</a> is an international mentorship group with a focus on helping more women become active participants and leaders in the Python open-source community. Our mission is to promote, educate and advance a diverse Python community through outreach, education, conferences, events and social gatherings.</p>

            <p>PyLadies also aims to provide a friendly support network for women and a bridge to the larger Python world. Anyone with an interest in Python is encouraged to participate!</p>

            <p>We are currently in Los Angeles, CA; Washington, DC; San Francisco, CA; Atlanta, GA; Seattle, WA; Portland, OR; Austin, TX; New York, NY; San Diego, CA; and working on expanding elsewhere.</p>

            <p>If you are interested in starting a local PyLadies group, have a look through our <a href="http://github.com/pyladies/pyladies-kit">kit on GitHub</a>, and feel free to <a href="mailto:info@pyladies.com">ask us any questions</a>.

            <p>PyLadies is under the financial enclave of the <a href="http://www.python.org/psf">Python Software Foundation</a>. Any <a href="https://psfmember.org/civicrm/contribute/transact?reset=1&id=6">donation</a> made to PyLadies is tax-deductible, and will go towards helping women attend Python and Open Source conferences, as well as help broaden its diversity outreach efforts.</p>

        </article>
    </section>
{% endblock %}