{% extends "layout.html" %}
{% block title %}PyLadies{% endblock %}
{% block content %}
    <section id="archive">
        <h1><img class="inline" title="PyLadies" src="{{ get_asset('images/pyladies_logo.png') }}" alt="Lynn Root" width="200" height="75" /></h1>
        <article>
                {% for post in posts %}
                    {% if 'pyladies' in post.category %}
                            {{ post.content }}
                    {% endif %}
                {% endfor %}
        </article>
    </section>
{% endblock %}
