{% extends "layout.html" %}
{% block title %}Circus{% endblock %}
{% block content %}
    <section id="archive">
        <h2>Introduce Django to your old Friends – or Foes</h2>
        {% for post in posts %}
        {% if 'circus' in post.category %}{% if 'intro' in post.category %}
          <div class='ten columns gray' id="date-header">
    <p>
      {{ post.date }}
  {% if post.updated_at %}
      revised {{ post.updated_at }}
  {% endif %}
    </p>

  </div>
            <article>
                <p>{{ post.content }}</p>

            </article>
            {% endif %}{% endif %}
                {% endfor %}
    </section>
{% endblock %}
