{% extends "site.html" %}
{% block title %}Circus{% endblock %}
{% block content %}
    <section id="archive">
        <h2>Introduce Django to your old Friends – or Foes</h2>
        {% for post in posts %}
        {% if 'circus' in post.category %}{% if 'intro' in post.category %}
        <time pubdate datetime id="post-date"="{{ post.timestamp|date('%Y-%m-%d') }}">{{ post.date }}</time>
            <article>
                <p>{{ post.content }}</p>
                    
            </article>
            {% endif %}{% endif %}
                {% endfor %}
    </section>
{% endblock %}